$background-principal: url("../assets/img/fondo-imagen.jpg");
$background-secundario: url("../assets/img/fondo-basquet.jpg");
$background-terciario:url("../assets/img/fondo-futbol.jpg");
$backgound-movil:url("../assets/img/fondo-basquet-movil.jpg");