header{
    background-color:#ff8c00;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 10px;
        gap: 10px;
        a{
            h1{
                @import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto:wght@100;400;700&display=swap");
                font-family: "Roboto", sans-serif;
            }
        }
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
