@media (max-width: 425px){
    header{ 
        nav{
        h1 {
        font-size: 18px;
        }
            a{
            font-size: 10px;
            }
        }
        }
    }
    main{
        font-size: 11px;
        div{
            a{
            img{
                margin-left: 0%;
            }
        }
    }
    }
        .main-registrarme {
        padding: 20px;
        height: 50vh;
        font-size: 12px;
        }
    